<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' />
  <style>
    .container {
      margin-top: 50px;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <button class="btn btn-primary">Mint</button>
  <p>Ấn mint để mint Drakecoin</p>
</div>
</body>
</html>