<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SwapVoucher - Đăng Nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://tse4.mm.bing.net/th?id=OIP.hzlvcOI-ihgOP6klOY4SeAHaDe&pid=Api&P=0&h=180');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.5);
            margin-top: 100px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        .card-body {
            padding: 30px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #1d76db;
            border-color: #0e1318;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Màn hình đăng nhập -->
                        <h2 style="color: #000000;" class="text-center">SwapVoucher - Đăng Nhập</h2>
                        <form id="loginForm">
                            <div class="form-group">
                                <!-- Email -->
                                <label style="color: #000000;" for="username">Email: </label>
                                <input type="text" class="form-control" id="email" name="email"
                                    placeholder="Nhập Email">
                            </div>
                            <div class="form-group">
                                <!-- Nhập mật khẩu-->
                                <label style="color: #000000;" for="password">Mật khẩu: </label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Nhập mật khẩu">
                            </div>
                            <div class="form-group form-check" style="margin-left: 20px;">
                            <!-- Remember Me checkbox -->
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Nhớ mật khẩu</label>
                              </div>
                            <!-- Đăng nhập -->
                            <button type="button" class="btn btn-primary btn-block" onclick="window.location.href = '/qlyVcher'">Đăng Nhập</button>
                            <!-- Thêm liên kết/quên mật khẩu -->
                            <div class="form-group text-center">
                                <a style="color: #000000;" href="/forgotPassword" data-toggle="modal" data-target="#forgotPasswordModal">Quên
                                    mật khẩu?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
  
   

       

    <script>

function login() {
    const email = "huy";
    const password = "123";
    const EmailInput = editForm.querySelector('#email').value; // Lấy giá trị của trường email
    const PassInput = editForm.querySelector('#password').value; // Lấy giá trị của trường mật khẩu
    

    if (email === EmailInput && password === PassInput) {
        console.log(email,password,EmailInput,PassInput)
        // Đăng nhập thành công
        window.location.href = '/qlyVcher'; // Chuyển hướng trang sau khi đăng nhập thành công
    } else {
        // Mật khẩu không đúng hoặc người dùng không tồn tại
        alert('Đăng nhập thất bại!');
    }
}

    </script>
</body>

</html>